<!DOCTYPE html>
<html lang=”en” data-ng-app="longboardersApp">
<head>
    <meta charset=”utf-8”>
    <title>Longboarder Buddy Finder in Angular</title>
    <meta name=”description” content=”Find Longboarders near you!”>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all"/>

</head>
<body data-ng-controller="LongboardersController">

<h1>Longboarder Info</h1>
<table>
    <tr>
        <th ng-click="sortBy='username';reverse=!reverse">username</th>
        <th ng-click="sortBy='location';reverse=!reverse">location</th>
        <th ng-click="sortBy='age';reverse=!reverse">age</th>
        <th ng-click="sortBy='discipline';reverse=!reverse">discipline</th>
    </tr>
    <tr data-ng-repeat="longboarder in longboarders | filter:longboardersFilter | orderBy:sortBy:reverse" >
        <td>{{ longboarder.username }}</td>
        <td>{{ longboarder.location }}</td>
        <td>{{ longboarder.age }}</td>
        <td>{{ longboarder.discipline }}</td>
    </tr>
</table>
<div id=""search>
    Search: <input type="text" ng-model="longboardersFilter.username" />
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="/vendor/angular-route.js"></script>
<script src="/js/main.js"></script>
<script src="/controllers/longboardersController.js"></script>

</body>

</html>